<mat-card class="card" appearance="outlined">
  <mat-card-header class="card__header">
    <mat-card-title class="card__title">
      Задача 3
    </mat-card-title>
    <mat-card-subtitle class="card__subtitle">
      <p>
        Написать функцию/метод, которая возвращает массив простых чисел
        в диапазоне (2 числа - минимальное и максимальное) заданных чисел.
        Например, на вход переданы 2 числа: от 11 до 20 (диапазон считается включая
        граничные значения).
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card__content">
    <form [formGroup]="numberForm" [ngStyle]="{'margin-bottom': '1rem'}" fxLayout="column" autocomplete="off">
      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Введите число</mat-label>
          <input matInput type="number" onlyNumbers formControlName="startNumber" min="0">
          <button mat-icon-button matSuffix type="button" (click)="clear()" matTooltip="Очистить">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Введите число</mat-label>
          <input matInput type="number" onlyNumbers formControlName="endNumber" autofocus="true" min="0">
          <button mat-icon-button matSuffix type="button" (click)="clear()" matTooltip="Очистить">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayoutAlign="end">
        <button mat-flat-button type="button" (click)="onSubmit()"
          [disabled]="!numberForm.value.startNumber || !numberForm.value.endNumber">
          Добавить в массив
        </button>
      </div>

      @if(primes.length > 0) {
        <p>
          <strong>Массив простых чисел:</strong> 
          [
            @for (prime of primes; track $index; let last = $last) {
              {{ prime }}
              @if(!last) {
                <span>, </span>
              }
            }
          ]
        </p>
      } @else {
        <span>{{msg}}</span>
      }
    </form>
  </mat-card-content>
</mat-card>